## Python API Challenge - Part II

In [1]:
# Import Dependancies
from config import google_key
import gmaps
import numpy as np
import pandas as pd
import requests
import time
from matplotlib import pyplot as plt
import pprint

In [2]:
# Read In Part I City and Weather Data
weather_data = pd.read_csv("../WeatherPy/Outputs/Weather_Data.csv")
weather_df = pd.DataFrame(weather_data)
weather_df

,City,Latitude,Longitude,Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,Ilembula,-8.90,34.58,59.59,61,43,3.24
1,Caledonia,42.81,-87.92,34.97,80,1,3.18
2,Lintangan,7.22,121.95,86.00,66,40,6.93
3,Balogo,10.89,124.71,84.97,54,54,1.25
4,Maitum,6.04,124.50,95.00,39,20,9.17
...,...,...,...,...,...,...,...
506,Ft. Pierce,27.45,-80.33,67.32,88,90,6.93
507,Lagoa Seca,-7.17,-35.85,69.89,86,21,4.03
508,Jalālī,27.87,78.27,83.50,24,0,5.61
509,Curuan,7.21,122.23,86.00,66,40,6.93
510,Altzayanca,19.43,-97.78,58.86,37,55,7.49

In [3]:
# Generate Heat Map Based on Humidity Percentages

# Establish API Key
gmaps.configure(api_key=google_key)

# Define Heat Map Locations and Weights
locations = weather_df[["Latitude", "Longitude"]].astype(float)
humidity_rate = weather_df["Humidity (%)"].astype(float)

# Create Heat Map
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_rate,
                                dissipating=True, max_intensity=100,
                                point_radius = 7)
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# Narrow Down Personal Optimal Weather Conditions
opt_weather = weather_df[(weather_df["Temperature (F)"] > 65) & (weather_df["Temperature (F)"] < 75)]
opt_weather = opt_weather[(opt_weather["Humidity (%)"] < 50)]

# Create New DataFrame to Store Hotel Data
opt_df = opt_weather[["City", "Latitude", "Longitude"]].reset_index(drop=True)
opt_df["Hotel Name"] = ""
opt_df["Hotel Address"] = ""
opt_df["Hotel Latitude"] = ""
opt_df["Hotel Longitude"] = ""
opt_df

,City,Latitude,Longitude,Hotel Name,Hotel Address,Hotel Latitude,Hotel Longitude
0,Pabellón de Arteaga,22.15,-102.25,,,,
1,Melchor Ocampo,19.70,-99.15,,,,
2,Potam,27.60,-110.38,,,,
3,Casa Grande,32.88,-111.76,,,,

In [5]:
# Obtain Hotel Data From Google Places API

# Establish Parameters For Hotel Search
params = {
    'types': 'lodging',
    'radius': 5000,
    "key": google_key
}

# Iterate Each City Location to Obtain Hotel Data
for index, row in opt_df.iterrows():
    lat = row["Latitude"]
    lng = row["Longitude"]
    
    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    name_address = requests.get(base_url, params=params)
    
    name_address = name_address.json()
            
    try:
        opt_df.loc[index, "Hotel Name"] = name_address['results'][0]['name']
        opt_df.loc[index, "Hotel Address"] = name_address['results'][0]['vicinity']
        opt_df.loc[index, "Hotel Latitude"] = name_address['results'][0]['geometry']['location']['lat']
        opt_df.loc[index, "Hotel Longitude"] = name_address['results'][0]['geometry']['location']['lng']
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")
        
opt_df

,City,Latitude,Longitude,Hotel Name,Hotel Address,Hotel Latitude,Hotel Longitude
0,Pabellón de Arteaga,22.15,-102.25,Rancho Alegre,Carretera Federal 71,22.1366,-102.258
1,Melchor Ocampo,19.70,-99.15,Hotel la Glorieta,"Techachalco, Visitacion, Melchor Ocampo",19.7102,-99.142
2,Potam,27.60,-110.38,Ejido La Pimienta,Pótam,27.6322,-110.39
3,Casa Grande,32.88,-111.76,Holiday Inn Casa Grande,"777 North Pinal Avenue, Casa Grande",32.8804,-111.758

In [6]:
# Add Hotel Location Markers to Previous Heat Map

# Establish Locations For Hotel Markers
hotel_locations = opt_df[["Hotel Latitude", "Hotel Longitude"]].astype(float)
hotel_layer = gmaps.marker_layer(hotel_locations)

# Create Markers and Add to Heat Map
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)
fig

Figure(layout=FigureLayout(height='420px'))